footer{
	background-color: $color__foo;
}
.iso__foo{
	width: 117px;
	margin: 2rem 0px 2rem 5rem;
}
.foo__font{
	color: $color__font--primary;
}
.foo__css{
	grid-area: footer;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"fooiso fooredes foocontacto"
	;
	width: 100%;
	height: 100%;
	padding-top: 1.8rem;
}
.foo__iso{ 
	grid-area: fooiso; 
	padding-left: 2.5rem;
}
.foo__redes{ 
	grid-area: fooredes;
}
.foo__contacto { grid-area: foocontacto }
.foo__redes--items{
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}
