.container__nosotros{
	display: grid;
	grid-template-rows: 300px auto;
	grid-auto-flow: row;
	grid-template-areas: 
	"tittlenos tittlenos"
	"parrafonos imgnos"
	;
	width: 100%;
	height: 100%;
}
.nosotros__img{
	width: 370px;
	padding-top: 3.5rem;
	padding-bottom: 2rem;
}
.tittle__nosotros{
	grid-area: tittlenos;
	background-image: url("../Assets/Img/backgroundnosotros.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 550px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2rem;
	justify-content: flex-end;
}
.nosotros__titulo{
	color: black;
	font-size: 35px;
}
.parrafo__nosotros{
	@include flex_d_column;
	grid-area: parrafonos;
	color: black;
	padding: 5rem 0px  0px 6rem;
}
.img__nosotros{
	grid-area: imgnos;
}
.parrafo__size{
	width: 535px;
	height: 142px;
	padding-top: 10px;
}
.parrafo{
	color: black;
	font-size: 20px;
}