nav{
	background-color: $color__primary;
}
.foo_boot{
	width: 100%;
	margin: 0px;
	padding: 10px;
}
.text__h3{
	font-size: 37px;
	color: #FF9900;
	margin-top: 5rem;
}
.text__h1{
	font-size: 50px;
	color: #F6F3EE;
	padding-top: 0px;
}
.tittle__nosotros{
	grid-area: tittlenos;
	background-image: url("../Assets/Img/backgroundnosotros.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 550px;
}
.img__nosotros{
	max-width: 40%;
}
.parrafo__nosotros{
	margin-left: 3rem;
}
.nosotrosarticle__a{
	margin-left: 5rem;
	padding: 0px;
}
.parrafo__size{
	width: 535px;
	height: 142px;
	margin-top: 2rem;
}
.nosotros__parrafo__elemento{
	margin: 5px;
}
.nosotros__img{
	width: 400px;
	border-radius: 3.5px;
	margin: 5rem 0px 5rem 0px;
}