<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Título para Browser -->
	<title>Wood S.A.</title>
	<!-- Ícono Browser -->
	<link rel="icon" href="../Assets/Img/iso_alternative.ico">
	<!-- Css Linkeado -->
	<link rel="stylesheet" href="../Css/style.css">
	<!-- Link íconos -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<!-- Fuente -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<header class="header">
		<!-- Logo del header -->
		<div>
			<a href="../index.html"><img src="../Assets/Img/iso.png" alt="logo" class="iso iso__reducido"></a>
		</div>
		<!-- Barra de navegación -->
		<nav>
			<ul class="header__nav nav--background">
				<li class="header__nav--item nav__item--background nav__item--color nav__item--text"><a href="../index.html" class="nav__item--color nav__item--text">Home</a></li>
				<li class="header__nav--item nav__item--background nav__item--color nav__item--text"><a href="productos.html" class="nav__item--color nav__item--text">Productos</a></li>
				<li class="header__nav--item nav__item--background nav__item--color nav__item--text"><a href="#" class="nav__item--color nav__item--text">Nosotros</a></li>
				<li class="header__nav--item nav__item--background"><a href="contacto.html" class="nav__item--color nav__item--text">Contacto</a></li>
				<!-- Carrito con ícono -->
				<li class="header__nav--item nav__item--background nav__item--color nav__item--text"><a href="carrito.html" class="nav__item--color nav__item--text">Carrito<i class="fas fa-cart-plus"></i></a></li>
			</ul>	
		</nav>
	</header>
	<main class="container__nosotros">
		<div class="tittle__nosotros">
			<h3 class="text__h3">Algo Sobre</h3>
			<h1 class="text__h1">Nosotros</h1>
		</div>
		<div class="parrafo__nosotros">
			<h2 class="nosotros__titulo">Diseños a medida</h2>
			<p class="parrafo parrafo__size">Somos un grupo de amigos que decidió crear este emprendimiento, aprovechando nuestras capacidades de trabajo en equipo y comunicación. Aseguramos brindar la mejor atención que nos sea posible, y poder hacer realidad lo que nuestros clientes tienen en mente.
			</p>
			<h4 class="parrafo">Unite a nuestra comunidad</h4>
			<div>
				<ul>
					<li><a href="https://www.facebook.com/" class="footer__text" target="_blank"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=45&color=3b403a" alt="facebookicon"></a></li>
					<li><a href="https://www.instagram.com/" class="footer__text" target="_blank"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=45&color=3b403a" alt="instagramicon"></a></li>
					<li><a href="https://www.youtube.com/" class="footer__text" target="_blank"><img src="https://icongr.am/entypo/youtube-with-circle.svg?size=45&color=3b403a" alt="youtubeicon"></a></li>
				</ul>
			</div>
		</div>
		<div class="img__nosotros">
			<img class="nosotros__img" src="../Assets/Img/Nosotros.jpg">
		</div>
	</main>
	<footer>
		<!-- Footer Logo -->
		<div class="foo__iso">
			<a href="../index.html"><img src="../Assets/Img/iso.png" alt="logo" class="iso"></a>
		</div>
		<div class="foo__redes">
			<!-- Métodos de contacto -->
			<h4 class="foo__font">Redes Sociales</h4>
			<ul class="foo__redes--items">
				<li><a href="https://www.facebook.com/" target="_blank" class="foo__font"><img src="https://icongr.am/entypo/facebook.svg?size=17&color=f6f3ee" alt="facebookicon"> Facebook</a></li>
				<li><a href="https://www.instagram.com/" target="_blank" class="foo__font"><img src="https://icongr.am/entypo/instagram.svg?size=17&color=f6f3ee" alt="instagramicon"> Instagram</a></li>
				<li><a href="https://www.youtube.com/" target="_blank" class="foo__font"><img src="https://icongr.am/entypo/youtube.svg?size=17&color=f6f3ee" alt="youtubeicon"> Youtube</a></li>
			</ul>
		</div>
		<div class="foo__contacto">
			<h4><a href="../Views/contacto.html" class="foo__font">Contacto</a></h4>
			<ul class="foo__redes--items">
				<li class="foo__font"><img src="https://icongr.am/entypo/phone.svg?size=17&color=f6f3ee" alt="phoneicon"> +54 1234567</li>
			</ul>
		</div>
	</footer>
</body>
</html>