<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- SEO -->
		<meta
			name="description"
			content="Conoce nuestros productos de gran calidad."
		/>
		<meta
			name="keywords"
			content="madera diseños a medida calidad muebles gamer escritorio cajonera estanteria cordoba argentina"
		/>
		<!-- Título para Browser -->
		<title>Wood CBA Nuestros Productos</title>
		<!-- Ícono Browser -->
		<link rel="icon" href="../Assets/Img/iso_alternative.ico" />
		<!-- Link íconos -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		/>
		<!-- Fuente -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap"
			rel="stylesheet"
		/>
		<!-- Toastify -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
		/>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<!-- Css Linkeado -->
		<link rel="stylesheet" href="../Css/style.css" />
	</head>
	<body>
		<header class="header">
			<!-- Logo del header -->
			<div>
				<a href="../index.html"
					><img
						src="../Assets/Img/iso.png"
						alt="logo"
						class="iso iso__reducido"
				/></a>
			</div>
			<!-- Barra de navegación -->
			<nav>
				<ul class="header__nav nav--background">
					<li
						class="header__nav--item nav__item--background nav__item--color nav__item--text"
					>
						<a href="../index.html" class="nav__item--color nav__item--text"
							>Home</a
						>
					</li>
					<li
						class="header__nav--item nav__item--background nav__item--color nav__item--text"
					>
						<a href="#" class="nav__item--color nav__item--text">Productos</a>
					</li>
					<li
						class="header__nav--item nav__item--background nav__item--color nav__item--text"
					>
						<a href="nosotros.html" class="nav__item--color nav__item--text"
							>Nosotros</a
						>
					</li>
					<li class="header__nav--item nav__item--background">
						<a href="contacto.html" class="nav__item--color nav__item--text"
							>Contacto</a
						>
					</li>
					<!-- Carrito con ícono -->
					<li
						class="header__nav--item nav__item--background nav__item--color nav__item--text"
					>
						<a href="carrito.html" class="nav__item--color nav__item--text"
							>Carrito<i class="fas fa-cart-plus"></i
						></a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<!-- Título -->
			<section class="container__productos">
				<article class="tittle__productos">
					<h3 class="text__h3">Conocé</h3>
					<h1 class="text__h1">Nuestros Productos</h1>
				</article>
				<div class="botonesco">
					<!-- Botón categorias -->
					<div class="categorias">
						<select class="button__categorías" id="selectorCategorias">
							<option value="none">Categorías</option>
							<option value="escritorios">Escritorios</option>
							<option value="estanterias">Estanterías</option>
							<option value="habitacion">Habitación</option>
							<option value="sillasysillones">Sillas y Sillones</option>
							<option value="mesasyratoneras">Mesas y Ratoneras</option>
						</select>
					</div>
					<!-- Botón Ordenar por -->
					<div class="ordenarpor">
						<select class="button__ordenarpor" id="selectorOrden">
							<option value="none">Ordenar por</option>
							<option value="maM">🡡 Precio Ascendente</option>
							<option value="Mam">🡣 Precio Descendente</option>
						</select>
					</div>
				</div>
				<div class="art__productos" id="productosHtml">
					<!-- Artículos -->
				</div>
			</section>
			<!-- <section class="precarrito">
				<table>
					<thead>
						<tr>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
						</tr>
					</thead>
					<tbody id="productosPrecarrito">
						
					</tbody>
				</table>
			</section> -->
		</main>
		<footer class="foo__css">
			<!-- Footer Logo -->
			<div class="foo__iso foo__center">
				<a href="../index.html"
					><img src="../Assets/Img/iso.png" alt="logo" class="iso__foo"
				/></a>
			</div>
			<div class="foo__redes foo__center">
				<!-- Métodos de contacto -->
				<h4 class="foo__font">Redes Sociales</h4>
				<ul class="foo__redes--items">
					<li>
						<a
							href="https://www.facebook.com/"
							target="_blank"
							class="foo__font"
							><img
								src="https://icongr.am/entypo/facebook.svg?size=17&color=f6f3ee"
								alt="facebookicon"
							/>
							Facebook</a
						>
					</li>
					<li>
						<a
							href="https://www.instagram.com/"
							target="_blank"
							class="foo__font"
							><img
								src="https://icongr.am/entypo/instagram.svg?size=17&color=f6f3ee"
								alt="instagramicon"
							/>
							Instagram</a
						>
					</li>
					<li>
						<a href="https://www.youtube.com/" target="_blank" class="foo__font"
							><img
								src="https://icongr.am/entypo/youtube.svg?size=17&color=f6f3ee"
								alt="youtubeicon"
							/>
							Youtube</a
						>
					</li>
				</ul>
			</div>
			<div class="foo__contacto foo__center">
				<h4><a href="../Views/contacto.html" class="foo__font">Contacto</a></h4>
				<ul class="foo__redes--items">
					<li class="foo__font">
						<img
							src="https://icongr.am/entypo/phone.svg?size=17&color=f6f3ee"
							alt="phoneicon"
						/>
						+54 1234567
					</li>
				</ul>
			</div>
		</footer>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
		<!-- Toastify -->
		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/toastify-js"
		></script>
		<!-- JS Propio -->
		<!-- Array con Productos -->
		<script src="../js/productos.js"></script>
		<!-- Script -->
		<script src="../js/script.js"></script>
	</body>
</html>
