<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Título para Browser -->
	<title>Wood S.A.</title>
	<!-- Ícono Browser -->
	<link rel="icon" href="../Assets/Img/iso_alternative.ico">
	<!-- Css Linkeado -->
	<link rel="stylesheet" href="../Css/style.css">
	<!-- Link íconos -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<!-- Fuente -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<!-- Logo del header -->
		<div>
			<a href="../index.html"><img src="../Assets/Img/iso.png" alt="logo" class="iso iso__reducido"></a>
		</div>
		<!-- Barra de navegación -->
		<nav>
			<ul class="header__nav nav--background">
				<li class="header__nav--item nav__item--background nav__item--color nav__item--text"><a href="../index.html" class="nav__item--color nav__item--text">Home</a></li>
				<li class="header__nav--item nav__item--background nav__item--color nav__item--text"><a href="#" class="nav__item--color nav__item--text">Productos</a></li>
				<li class="header__nav--item nav__item--background nav__item--color nav__item--text"><a href="nosotros.html" class="nav__item--color nav__item--text">Nosotros</a></li>
				<li class="header__nav--item nav__item--background"><a href="contacto.html" class="nav__item--color nav__item--text">Contacto</a></li>
				<!-- Carrito con ícono -->
				<li class="header__nav--item nav__item--background nav__item--color nav__item--text"><a href="carrito.html" class="nav__item--color nav__item--text">Carrito<i class="fas fa-cart-plus"></i></a></li>
			</ul>	
		</nav>
	</header>
	<main>
		<!-- Título -->
		<section class="container__productos">
			<article class="tittle__productos">
				<h3 class="text__h3">Conocé</h3>
				<h1 class="text__h1">Nuestros Productos</h1>
			</article>
			<div class="botonesco">
				<!-- Botón categorias -->
				<div class="categorias">
					<button type="button" class="button button__categorías"j><img src="https://icongr.am/entypo/menu.svg?size=20&color=555b53" alt="menuicon">Categorías</button>
				</div>
				<!-- Botón Ordenar por -->
				<div class="ordenarpor">
					<select class="button button__ordenarpor">
						<option value="maM" >Precio Ascendente</option>
						<option value="Mam" >Precio Descendente</option>
						<option value="destacados" >Destacados</option>
					</select>
				</div>
			</div>
			<!-- Artículos -->
			<div class="art__productos">
				<article data-aos="zoom-in-up" class="articulos articulos__cajonera">
					<img src="../Assets/Img/cajonera1.jpg" class="articulos__img">
					<h3 class="articulos__nombre">Cajonera</h3>
					<h3 class="articulos__clasificacion">Escritorios</h3>
					<h3 class="articulos__precio">$34.000 - $50.000</h3>
				</article>
				<article data-aos="zoom-in-up" class="articulos articulos__escritorio ">
					<img src="../Assets/Img/mueble5.jpg" class="articulos__img">
					<h3 class="articulos__nombre">Escritorio Gamer</h3>
					<h3 class="articulos__clasificacion">Escritorios</h3>
					<h3 class="articulos__precio">$75.000</h3>
				</article>
				<article data-aos="zoom-in-up" class="articulos articulos__estanteria">
					<img src="../Assets/Img/mueble6.jpeg" class="articulos__img">
					<h3 class="articulos__nombre">Estantería</h3>
					<h3 class="articulos__clasificacion">Estanterías</h3>
					<h3 class="articulos__precio">$55.200</h3>
				</article>
			</div>
		</section>
	</main>
	<footer>
		<!-- Footer Logo -->
		<div class="foo__iso">
			<a href="../index.html"><img src="../Assets/Img/iso.png" alt="logo" class="iso"></a>
		</div>
		<div class="foo__redes">
			<!-- Métodos de contacto -->
			<h4 class="foo__font">Redes Sociales</h4>
			<ul class="foo__redes--items">
				<li><a href="https://www.facebook.com/" target="_blank" class="foo__font"><img src="https://icongr.am/entypo/facebook.svg?size=17&color=f6f3ee" alt="facebookicon"> Facebook</a></li>
				<li><a href="https://www.instagram.com/" target="_blank" class="foo__font"><img src="https://icongr.am/entypo/instagram.svg?size=17&color=f6f3ee" alt="instagramicon"> Instagram</a></li>
				<li><a href="https://www.youtube.com/" target="_blank" class="foo__font"><img src="https://icongr.am/entypo/youtube.svg?size=17&color=f6f3ee" alt="youtubeicon"> Youtube</a></li>
			</ul>
		</div>
		<div class="foo__contacto">
			<h4><a href="../Views/contacto.html" class="foo__font">Contacto</a></h4>
			<ul class="foo__redes--items">
				<li class="foo__font"><img src="https://icongr.am/entypo/phone.svg?size=17&color=f6f3ee" alt="phoneicon"> +54 1234567</li>
			</ul>
		</div>
	</footer>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
	  AOS.init();
	</script>
</body>
</html>